<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Creditors list</ion-back-button></ion-buttons>
    <ion-title>Creditors list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <form>

  <ion-list>
    <ion-item>
      <ion-label>Company Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Vehicle</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Vehicle Number</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Person in charge/Driver</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Quantity</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Petrol/diesel</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>receipt number</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cashier/manager incharge</ion-label>
      <ion-input></ion-input>
    </ion-item>
    </ion-list>
    
    </form>
    <ion-button expand="block" class="btn">Upload receipt</ion-button>
    <ion-button expand="block" color="light" >submit</ion-button>
</ion-content>
