<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>tankers reading</ion-back-button></ion-buttons>
    <ion-title>TankersReading</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
  
    
  <ion-item>
    <ion-label>Select</ion-label>
    <ion-select placeholder="Tanks">
      <ion-select-option value="T">Tank1</ion-select-option>
      <ion-select-option value="t">Tank2</ion-select-option>
      <ion-select-option value="t">Tank3</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-list>
    <ion-item>
      <ion-label>MS Opening Reading</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>MS Closing Reading</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>HS Opening Reading</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>HS Opening Reading</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" class="btn">submit</ion-button>
    </form>
</ion-content>
