<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button>Login</ion-back-button></ion-buttons>
    <ion-title>Main Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form class="btnn">
<ion-button expand="block"class="btn" (click)="cash()">cash Book</ion-button>
<ion-button expand="block"class="btn" (click)="pricesandstocks()">Prices and Stock</ion-button>
<ion-button expand="block"class="btn" (click)="manager()">Manger Access</ion-button>
<ion-button expand="block" class="btn" (click)="cashier()">cashier Access</ion-button>
<ion-button expand="block" class="btn">Sales Report</ion-button>
</form>
</ion-content>
