<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>invoice page</ion-back-button></ion-buttons>
    <ion-title>invoice page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item>
    <ion-label class="iv">Drivers Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Employincharge</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>vehicle Number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Density</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>DieselQuantity</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Petrol quantity</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>invoice number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </ion-list>
<ion-button expand="block">Upload Invoice</ion-button>
<ion-button expand="block">Submit</ion-button>
</ion-content>
