<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>manager access</ion-back-button></ion-buttons>
    <ion-title>Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="btnn">
<ion-button expand="block" class="btn" (click)="tankersreading()">Tankers reading</ion-button>
<ion-button expand="block" class="btn" (click)="Addempoly()">Add Empolyee</ion-button>
<ion-button expand="block" class="btn" (click)="creditorslist()">Add Credit Vehicles</ion-button>
<ion-button expand="block" class="btn"(click)="invoicepage()">Invoice page </ion-button>
<ion-button expand="block" class="btn">Attendances</ion-button></form>
</ion-content>
