<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>sales</ion-back-button></ion-buttons>
    <ion-title>Sales Breaks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>online payment(paytm),gpay,phone pay</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>cards-ioc Bpcl,Hp</ion-label></ion-item>
  <form class="btn">
  <ion-button  color ="light">Creditors</ion-button>
  <ion-button   color ="light">Ccustom</ion-button>
  <ion-button  color ="light">Amount</ion-button></form>
  <ion-list class="test">
  <ion-item>
    <ion-label class="test" >Samples used for Testing</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Salary Paid to any employe</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Others</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-list>
</ion-content>
