<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>cashier</ion-back-button></ion-buttons>
    <ion-title>Cashier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><form class="btnn">
<ion-button expand="block" class="btn" (click)="pump()">pump Readings</ion-button>
<ion-button expand="block" class="btn" (click)="sales()">Sales Break Down</ion-button>
<ion-button expand="block" class="btn"> Total Sales(that day)</ion-button>
<ion-button expand="block" class="btn">Add Creditors</ion-button></form>
</ion-content>
